<% if logged_in? %>
      <%= link_to 'Task一覧を見る', tasks_url, class: 'btn btn-lg btn-primary' %></p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Taskapp</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>